* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.all {
  width: calc(100vw - 112px);
  height: calc(100vh - 112px);
  margin: 56px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 20px 0px #BCBCBC40;
}


.search {
  height: 28px;
  width: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 30px 0 0 30px;
  width: 60px;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #E4E4E4;
  border-right: none;

}

.input {
  width: 534px;
  height: 60px;
  border-radius: 0 30px 30px 0;
  border: 1px solid #E4E4E4;
  border-left: none;
  background-color: none;
}

.frame31 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: flex-start;
  box-sizing: border-box;
  width: calc(100vw - 405.3px);
  height: 100%;
}

.frame32 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 18px;
}

body {
  margin: 0px;
  background-color: #F5FDFF;
}

.right {
  margin-left: 293.3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100vw- 405.3px);
  height: calc(100vh - 112px);
  box-sizing: border-box;
}

.ellipse {
  width: 100px;
  height: 100px;
}

.frame38 {
  margin: 31px 0px 0px 34px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-around;
  height: calc(100% - 40px);
  overflow-y: auto;
  /* Subtract the height of the menu */
}

.frame39 {
  width: 244px;
  height: 317px;
  margin: 10px;
  gap: 16px;
  border: 1px solid #E4E4E4;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-doctor-1 {
  margin: 0 0 16px 0.5px;
  width: 36px;
  height: 36px;
}

.add_new_doctor {
  overflow-wrap: break-word;
  font-weight: 500;
  font-size: 20px;
  color: #000000;
}

.frame40 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 244px;
  height: 244px;
  gap: 18px;
}

.frame41 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 244px;
  height: 57px;
  margin-top: 16px;
  background-color: #D6F3F3;
}

:hover.frame41 {
  background-color: #15C9CB;
}

.Dr_Sonia_Kabwa {
  display: inline-block;
  overflow-wrap: break-word;
  font-weight: 500;
  font-size: 20px;
  color: #000000;
}

.years_experiences {
  display: inline-block;
  overflow-wrap: break-word;
  font-weight: 400;
  font-size: 14px;
  color: #616161;
}

.frame42 {
  border-radius: 8px;
  background: #D6F3F3;
  padding: 6px 20px;
  width: fit-content;
  box-sizing: border-box;
}

.Family_Specialiste {
  overflow-wrap: break-word;
  font-size: 14px;
  font-weight: 500;
  color: #02A3F7;
}

/* Add different colors for each child box */
/* #div1 .frame39:nth-child(1) {
  background-color: #f00;
}

#div1 .frame39:nth-child(2) {
  background-color: #0f0;
}

#div1 .frame39:nth-child(3) {
  background-color: #00f;
} */
/* Add different colors for each child box in 'Top Rated' */
/* #div2 .frame39:nth-child(1) {
  background-color: #abc;
}

#div2 .frame39:nth-child(2) {
  background-color: #cba;
}

#div2 .frame39:nth-child(3) {
  background-color: #bac;
} */

/* Add different colors for each child box in 'Best Reviews' */
/* #div3 .frame39:nth-child(1) {
  background-color: #123;
}

#div3 .frame39:nth-child(2) {
  background-color: #231;
}

#div3 .frame39:nth-child(3) {
  background-color: #312;
} */


.frame33 {
  border-radius: 100px;
  border: 1px solid var(--main-strk, #E4E4E4);
  background: #F6F6F6;
  width: 356px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-self: center;
  box-sizing: border-box;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.frame34 {
  width: 60px;
  height: 40px;
  display: flex;
  justify-content: center;
  padding: 8px 0;
  box-sizing: border-box;
  border-radius: 100px 0 0 100px;
}

.frame35 {
  width: 133px;
  height: 40px;
  border-left: 1px solid #E4E4E4;
  display: flex;
  justify-content: center;
  padding: 8px 0;
  box-sizing: border-box;
}

.frame36 {
  width: 163px;
  height: 40px;
  border-left: 1px solid #E4E4E4;
  display: flex;
  justify-content: center;
  padding: 8px 0;
  border-radius: 0 100px 100px 0;
  box-sizing: border-box;
}

.menu-text {
  overflow-wrap: break-word;
  /* font-family: initial; */
  font-weight: 400;
  font-size: 20px;
  color: #616161;
}

.frame34:hover,
.frame35:hover,
.frame36:hover {
  background-color: #15C9CB;
}

.frame34 .menu-text,
.frame35 .menu-text,
.frame36 .menu-text {
  color: #616161;
}

.frame34:hover .menu-text,
.frame35:hover .menu-text,
.frame36:hover .menu-text {
  color: #000000;
}

.frame37 {
  width: calc(100vw - 405.3px);
  height: 100%;
  border-width: 31px 34px 31px 34px;
  border-style: solid;
  border-color: #fff;
}

.frame34.active,
.frame35.active,
.frame36.active {
  background-color: #15C9CB;
}

/* Thêm màu chữ cho trạng thái active */
.frame34.active .menu-text,
.frame35.active .menu-text,
.frame36.active .menu-text {
  color: #000000;
}